{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <h1>All Blog Posts</h1>
    <a class="btn" href="{% url 'post_create' %}">+ New Post</a>

    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p><strong>By:</strong> {{ post.author }}</p>
                <p>{{ post.content|truncatechars:100 }}</p>
            </li>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </ul>
</body>
</html>



